<style>
#vienna {
	background: none !important;
}

.pkwidget-content__user_payment_container {
	background-color: #F9FAFC !important;
}

#base-container {
	border-radius: 16px !important;
}

.pk_section__logo {
	font-weight: bold !important;
	text-align: center !important;
	font-size: 22px !important;
}

#header-price,
.payment_due.value { display: none !important; }

#content-header {
	background-color: #1bbcbd !important;
	padding: 20px 0px !important;
}

#action-button {
	font-weight: normal;
	letter-spacing: 2px;
	padding: 30px !important;
	background-color: #20bfc0 !important;
	-webkit-box-shadow: inset 0px -5px 0px 0px rgba(15,170,171,1);
	-moz-box-shadow: inset 0px -5px 0px 0px rgba(15,170,171,1);
	box-shadow: inset 0px -5px 0px 0px rgba(15,170,171,1);
}

h2 {
	color: #283848 !important;
	font-size: 20px !important;
	letter-spacing: 2px;
}

.vienna .form-group input {
	border-radius: 5px !important;
}

.vienna .form-group input:hover, .vienna .form-group input:focus {
	border-color: #1bbcbd !important;
}

.vienna .payment_mode_link a.active {
	background-color: #1bbcbd !important;
	border-color: #1bbcbd !important;
	-webkit-box-shadow: 0 0 0 2px #1bbcbd inset;
	box-shadow: 0 0 0 2px #1bbcbd inset;
}

#payment-tabs li{
	display: inline !important;
}

.vienna .pk-section.pk_section__total ul li {
	padding: 20px !important;
}

li.order-summary-item,
li.total-block {
	background-color: #EEF1F8 !important;
	border-radius: 10px !important;
	padding: 20px !important;
}

.pk_section__tos_container {
	background-color: #EEF1F8 !important;
	border-radius: 10px !important;
	padding: 20px !important;
}

.total-block label.left__name {
	font-weight: bold !important;
}

.total-block .payment_due.value  {
	display: block !important;
}



.vienna #payment-tabs {
	flex-direction: row !important;
}

.vienna #payment-tabs li{
	width: 50% !important;
}

.vienna #payment-tabs li.payment_mode_link {
	margin-right: 0px !important;
}

.vienna #payment-tabs li a.active{
	border-radius: 25px !important;
}

.vienna #payment-tabs li:first-child a.active{
	position: absolute;
	right: -20px;
	width: 108%;
}

.vienna #payment-tabs li:first-child  {
	border-radius: 25px 0px 0px 25px !important;
	border-style: solid;
  border-right-style: solid;
	border-right: none;
	border-width: 1px !important;
	border-color: #e1e1e1;
}

.vienna #payment-tabs li:first-child a{
	overflow: hidden;
}

.vienna #payment-tabs li:nth-child(2){
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.vienna #payment-tabs li:last-child a.active {
	border-radius: 25px !important;
	position: absolute;
	left: -20px;
	width: 108%;
}

.vienna #payment-tabs li:last-child {
	border-radius: 0px 25px 25px 0px !important;
	border-style: solid;
  border-left-style: solid;
	border-left: none;
	border-width: 1px !important;
	border-color: #e1e1e1;
}

.vienna #payment-tabs li:last-child a svg{
	width: 50px !important;
}

.vienna .payment_mode_link a {
	-webkit-box-shadow: 0 0 0 0 #e1e1e1 inset !important;
	box-shadow: 0 0 0 0 #e1e1e1 inset !important;
}

#buyer_tax_number_input { margin-left: 0px !important; }

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.vienna #payment-tabs li:first-child a.active{
		right: 0px;
	}

	.vienna #payment-tabs li:last-child a.active {
		left: 0px;
	}

	#action-button {
		font-size: 0.8em !important;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


</style>

<script>
$('.pk_section__logo').html('Create your account');
</script>
