.yearly, .monthly {
  line-height: 1 !important;
}

.notes.n2 {
  display: none;
}

.pricing_table_pop{
    height: 370px;
}

.bottom_vid_testi {
  max-width: 490px;
  margin-top: -60px;
  margin-left: -40px;
  z-index:0;
  height: 290px;
}

.bottom_vid_testi iframe{
  border-radius: 16px;
}

.testi-author strong {
  text-transform: uppercase;
}

.strikethrough {
  position: relative;
  color: #7F8C9A;
  font-size: 18px;
  top: -15px;
  padding: 5px 5px;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: #ff0000;

  -webkit-transform:rotate(-35deg);
  -moz-transform:rotate(-35deg);
  -ms-transform:rotate(-35deg);
  -o-transform:rotate(-35deg);
  transform:rotate(-35deg);
}

#lblMonthly {
	font-size: 14px !important;
}


#lblYearly {
  font-size: 14px !important;
}

.switch {
  	top: 10px;
    width: 90px !important;
    height: 45px !important;
}

.slider:before {
  height: 35px !important;
  width: 35px !important;
}

input:checked + .slider:before {
  left: 24px !important;
}

.stars {
  background-image:url('https://upviral.com/wp-content/uploads/2021/02/stars.png');
  width: 120px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
}

.testi-author {
  float: right;
  font-size: 12px !important;
}

.testibox-custom {
  max-width: 600px;
  margin-right: auto;
  margin-top: 60px;
  margin-left: auto;
  text-align: left;
  min-height: 145px !important;
  z-index: 2;
}

#menu-item-11297,
#menu-item-893,
#menu-item-12693,
#menu-item-12491 {
  display: none !important;
}

#x-btn-navbar,
#x-nav-wrap-mobile,
#x-nav-wrap-mobile .menu-item-11297,
#x-nav-wrap-mobile .menu-item-893,
#x-nav-wrap-mobile .menu-item-12693,
#x-nav-wrap-mobile .menu-item-12491 {
  display: none !important;
}

.x-nav-wrap.desktop {
  display: block !important;
}


.number, .price .number {
  font-size: 44px;
}

.access_type {
	font-size: 22px;
}




@media only screen and (max-width: 968px) {

  .pricing_table_pop {
    padding: 20px;
    height: auto;
  }

  .pricing_table {
    padding: 20px !important;
  }

  .testibox-custom {
    min-height: unset !important;
    padding: 35px 20px 35px 88px;
/*     text-align: justify; */
  }

  .stars,
  .testi-author {
    float: none;
  }

}
/*
@media only screen and (max-width: 846px) {
  #btn-business {
    height: unset !important;
  }
} */

@media only screen and (max-width: 768px) {
  /*
  #btn-business {
    height: unset !important;
  }
  */
  .pricing_table_pop {
    padding: 20px;
    height: auto;
  }

  .pricing_table {
    padding: 20px !important;
  }

  .btnMonthlyPlan,
  .btnYearlyPlan {
    width: 100% !important;
  }

  .pricing_table_pop a {
    min-width: unset !important;
  }
}

@media only screen and (max-width: 767px) {
  .pricing_table_pop , .pricing_table {
    margin-bottom: 60px;
  }

  .btn-primary-1, .btn-primary-2 {
    margin: 10px 0px !important;
  }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { /*border: 1px solid #ccc;*/ }

	td {
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee; */
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(2):before { content: "Starter"; color:#ccc; position: relative; left: unset; top: 0; }
	td:nth-of-type(3):before { content: "Business"; color:#ccc; position: relative; left: unset; top: 0; }
	td:nth-of-type(4):before { content: "Premium"; color:#ccc; position: relative; left: unset; top: 0; }
  /*
	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Favorite Color"; }
	td:nth-of-type(5):before { content: "Wars of Trek?"; }
	td:nth-of-type(6):before { content: "Secret Alias"; }
	td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; }
  */
  .features_table tbody td:nth-child(1) {
      padding-left: 40px !important;
      text-align: center;
      font-size: 22px;
    	font-weight: bold;
  }

  .features_table tbody td img { display: block; margin: 10px auto; }

  .testi-box img {
    left: -20px;
    width: 86px;
    height: 86px;
  }



}


@media only screen and (max-width: 568px){
  h2, h2 p, .title {
    font-size: 16px !important;
  }

  .number, .price .number {
    font-size: 16px !important;
  }

  .strikethrough, .price .strikethrough {
    font-size: 10px !important;
  }

  .access_type {
    font-size: 12px;
  }

  #business_list {
    margin-top: 80px !important;
  }

  #russell_testi {
    float: unset !important;
    width: 100% !important;
    margin-top: 20px !important;
  }

  .bottom_vid_testi {
    margin: 20px auto !important;
    max-width: 100% !important;
  }

  #switch_div {
    margin-top: 0px;
  }

  #lblMonthly {
    display: inline-block !important;
/*     margin-left: -175px !important; */
    margin-left: -120px !important;
	}

  .switch {
      margin: auto;
      display: inline-block !important;
  }

  #lblYearly {
    position: absolute;
/*     margin-top: -22px; */
    text-align: left;
		margin-top: 5px;
    padding: 12px 0px 0px 5px;
    width: 90px !important;
  }

  .monthly,
  .yearly{
/*     margin-top: -15px !important; */
    margin-top: 0px !important;
  }

  .monthly h2,
  .yearly h2{
    font-size: 20px !important;
  }

  .notes {
    margin-top: -10px !important;
    line-height: 1.2 !Important;
  }

  .notes p {
    font-size: 16px !important;
    line-height: 1 !Important;
  }
  .notes span{
    font-size: 16px !important;
    line-height: 1.2 !Important;
  }
}

@media only screen and (min-width: 375px) and (max-width: 480px){
  .notes, .notes span{
    font-size: 12px !important;
    line-height: 1.2 !Important;
    width: 100% !important;
  }

  .btnMonthlyPlan .x-anchor-text-primary,
  .btnYearlyPlan .x-anchor-text-primary{
    font-size: 12px !important;
  }
  .pricing_table_pop {
    padding: 30px 10px !important;
  }

  .pricing_table_pop a {
    font-size: 12px !important;
  }

  .pricing_table_pop .price {
    font-size: 22px !important;
  }

  .pricing_table_pop .notes {
    margin: auto !important;
  }

  .pricing_feature_list li {
    font-size: 10px !important;
		background-size: 15px 15px !important;
    padding: 5px 0px 5px 20px !important;
  }

  .pricing_table {
    padding: 50px 5px !important;
  }

  .btnMonthlyPlan,
  .btnYearlyPlan{
    min-width: unset !important;
    min-height: unset !important;
    padding: 2px !important;
  }

  .btn-primary-4 {
    border-radius: 16px !important;
    height: 28px !important;
    line-height: 1 !important;
  }

  .ribbon span {
    padding: 0px !Important;
  }

  .ribbon-top-right span {
    left: -28px;
    top: 17px;
  }

  .ribbon-top-right::before{
    left: 44px;
  }

  .ribbon-top-right::after{
    bottom: 44px;
  }
}

@media only screen and (max-width: 320px){
  .btnMonthlyPlan,
  .btnYearlyPlan,
  .pricing_table_pop a {
    min-width: 100% !important;
    width: 100% !important;
  }

  #business_list {
    margin-top: 0px !important;
  }

  #switch_div > span {
    font-size: 12px !important;
  }
  #lblYearly {
    padding: 12px 0px 0px 10px;
  }
}
